@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor1: #BAF8F9;
    --cor2: #A8DFE0;
    --cor3: #67E3E6;
    --cor4: #82ADAD;
    --cor5: #2C6061;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    background-color: var(--cor2);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5)) ;
    font-family: var(--fonte2);
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    color: black;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 2px 2px   rgba(0, 0, 0, 0.164);

}

nav >a {
    color: var(--cor2);
    font-family: var(--fonte-semhora);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

article > h1 {
    font-family: var(--fonte3);
}