@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



:root {
    --cor1: #BAF8F9;
    --cor2: #A8DFE0;
    --cor3: #67E3E6;
    --cor4: #82ADAD;
    --cor5: #2C6061;
    --cor6: #2C6061;

    --fonte1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte2: 'Cairo', sans-serif;
    --fonte3: 'Lato', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
}

header {
    background-image: url(../imagens/logoserviço.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--fonte3);
    font-size: 2.5em;
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    color: black;
}


nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 2px 2px   rgba(0, 0, 0, 0.164);

}

nav >a {
    color: var(--cor2);
    
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

article > h1 {
    font-family: var(--fonte3);
    font-size: 2.5em;
    color:var(--cor6);
    padding-bottom: 10px;
    padding-left: 20px;
}
    

article > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    padding-left: 20px;
}

article > p {
    padding-left: 20px; 
}